<!DOCTYPE html>
<html>
<head>
        <title>E-Commerce</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script type="text/javascript" src="ECApp.js"></script>
	<base href="/">
</head>
<body ng-app="ECApp">
        <div id='main' class="container">
                <nav class="navbar-fluid navbar-default navbar-fixed -top">
                        <div class="container">
                                <a class="navbar-brand" href="#">E-Commerce!</a>
                                <p class="navbar-text">Like the rainforest</p>
                                <p class="navbar-right navbar-text"ng-hide="authenticated"><a href="/login">Login</a> <a href="/addUser">Register</a>
			
				<p class="navbar-right navbar-text" ng-show="authenticated"><a href="#" ng-click="logout()">Logout</a></p>
		   		<p class="navbar-right navbar-text" ng-show="authenticated">Signed in as {{current_user.FirstName}}</p>
				<p class="navbar-right navbar-text" ng-show="authenticated"><a href="/shoppingCart">Shopping Cart</a></p>
                        </div>
                </nav>
                <div class="col-md-offset-2 col-md-8">
                        <div ng-view>
                        </div>
                </div>
        </div>
</body>
</html>
