<h1 ng-show="authenticated">Welcome {{current_user.FirstName}}</h1>
<form class="form-group" ng-submit="itemSearch()" ng-show="authenticated">
        <h2>Item Search</h2>
        <input type="search" ng-model="itemQuery.query" placeholder="Item Name" class="form-control"><br>
        <input type="submit" value="Search" class="btn btn-primary" />
</form>

<p ng-show="authenticated">NAME     Price     Category</p>
<div ng-repeat="item in itemList">
<p>{{item.Name}}     {{item.Price}}     {{item.Category}}     
	<form class="form-group" ng-submit="writeReview(item)">
		<input type="text" ng-model="itemReview.review" placeholder="write your review here!" class="form-control"><br> 
		<input type="submit" value="Submit Review" class="btn btn-primary"/>
	</form>     
	<button type="button">Read Reviews</button>     
	<button type="button" ng-click="addToShoppingCart(item)">Add to Shopping Cart</button>
</p>
</div>
