<h1>Welcome {{current_user.FirstName}}</h1>
<form class="form-group" ng-submit="itemSearch()">
        <h2>Item Search</h2>
        <input type="search" ng-model="itemQuery.query" placeholder="Item Name" class="form-control"><br>
        <input type="submit" value="Search" class="btn btn-primary" />
</form>

<div ng-repeat="item in itemList">
<p>{{item.Name}}     {{item.Price}}     {{item.Category}}     <button type="button">Write Review</button>     <button type="button">Read Reviews</button>     <button type="button" ng-click="addToShoppingCart(item)">Add to Shopping Cart</button></p>
</div>
